html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #232323;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  max-width: 1455px;
  margin-top: 90px;
  width: 90%;
}
